.feedback-video-div{
    display: none;
}
.intro-video, .feedback-video, .end-video, .test-feedback-video, .ready-video{
    width: 100%;
	height: 100%;
    /* width: 730px;
	margin: 0 auto;
	display: block; */
}

/* .intro-video, .feedback-video{
	width: 730px;
	margin: 0 auto;
	display: block;
}
.test-feedback-video, .ready-video{
    width: 730px;
	margin: 0 auto;
	display: block;
} */
.end-btn{
	display: none;
	float: right;
}